* {
	margin: 0;
	padding: 0;
	border: 0;
}
input::-webkit-input-placeholder {
	opacity: 1;
}
input:-moz-placeholder { /* Firefox 18- */
	opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
	opacity: 1;
}
input:-ms-input-placeholder {
	opacity: 1;
}
input:focus::-webkit-input-placeholder {
	opacity: 0;
}
input:focus:-moz-placeholder { /* Firefox 18- */
	opacity: 0;
}
input:focus::-moz-placeholder { /* Firefox 19+ */
	opacity: 0;
}
input:focus:-ms-input-placeholder {
	opacity: 0;
}
.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
	overflow-y: auto;
}
.container {
	display: table;
	width: 100%;
	height: 100%;
}
.content {
	display: table-cell;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}
.viewport {
	width: 300px;
	margin: auto;
	text-align: center;
}
.main-image {
	margin: auto;
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.call-to-action {
	font-size: 14px;
	margin-top: 10px;
}
input[type="text"], input[type="email"], input[type="tel"] {
	width: 300px;
	font-size: 14px;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 10px;
}
.age-gate .date-of-birth {
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
}
.age-gate input[type="tel"] {
	width: 93px;
	font-size: 14px;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}
.age-gate input[type="tel"]:first-child {
	width: 94px;
	margin-left: 0;
}
.agreement {
	margin-top: 10px;
}
label {
	cursor: pointer;
}
.agreement-wrapper {
	display: table;
}
.agreement-checkbox {
	display: table-cell;
	width: 1px;
	padding-right: 10px;
	vertical-align: top;
	padding-top: 2px;
}
.agreement-text-wrapper {
	display: table-cell;
	vertical-align: top;
}
.agreement-text, .agreement-text a, .agreement-text a:hover, .agreement-text a:link, .agreement-text a:active, .agreement-text a:visited {
	font-size: 12px;
	vertical-align: top;
	text-align: left;
}
.agreement-text a, .agreement-text a:hover, .agreement-text a:link, .agreement-text a:active, .agreement-text a:visited {
	text-decoration: underline;
}
.button {
	width: 300px;
	font-size: 16px;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 10px;
	cursor: pointer;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 2;
}
.footer img {
	max-width: 300px;
}
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	background-color: rgba(0,0,0,0.8);
}
.modal {
	position: fixed;
	display: table;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4;
}
.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.modal-box {
	display: block;
	width: 300px;
	margin: auto;
	background-color: rgba(255,255,255,0.75);
	border: 2px solid rgba(255,255,255,0.5);
	padding: 20px;
	box-sizing: border-box;
}
.modal-body {
	font-size: 16px;
	color: #333;
	text-align: center;
}
.ok {
	min-width: 150px;
	font-size: 16px;
	background-color: #444;
	border: 1px solid #000;
	color: #fff;
	padding: 10px 15px;
	box-sizing: border-box;
	margin-top: 20px;
	cursor: pointer;
}
.ok:hover {
	background-color: #000 !important;
}
.game-area {
	font-size: 24px;
}
.scratch-area-wrapper {
	width: 300px;
	height: 225px;
	background-image: url('http://unoapp.com/scratch_and_win/images/asdf/scratch-back.png');
	margin: auto;
	cursor: default;
	text-align: left;
}
.scratch-area {
	width: 300px;
	height: 225px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
}
.scratch-area-content {
	border-radius: 25px;
	width: 300px;
	height: 225px;
	display: table;
	background-position: center;
    background-size: cover;
}
.scratch-area-text {
	width: 300px;
	height: 225px;
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 32px;
	color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
}
.scratch-area-misc {
	font-size: 16px;
	color: #000;
}
.claim-response, .losing-tier-response {
	font-size: 18px;
	text-align: center;
}
.display-table {
	display: table;
    width: 100%;
    height: 100%;
}