<template>
	<div style="position:absolute;width:100%;min-height: 100vh;display: flex;align-items: center;justify-content: center;" :style="{backgroundImage: 'url(\'' + passedContest.background_image + '\')', backgroundColor: 'url(\'' + passedContest.background_color + '\')'}">
		<div class="display-table">
			<div class="content form" v-if="step === 0">
				<div class="viewport">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					<div class="call-to-action english" :style="{color: passedContest.text_color, fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						PLEASE FILL OUT THE FOLLOWING FORM
					</div>

					<div>
						<div v-if="passedContest.full_name === 1">
							<input v-if="passedContest.full_name_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="full-name english" type="text" placeholder="FULL NAME*" v-model="userInfo.fullName">
							<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="full-name english" type="text" placeholder="FULL NAME" v-model="userInfo.fullName">
						</div>
					</div>


					<div v-if="passedContest.email === 1">
						<input v-if="passedContest.email_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="email" type="email" placeholder="EMAIL*" v-model="userInfo.email">
						<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="email" type="email" placeholder="EMAIL" v-model="userInfo.email">
					</div>


					<div>
						<div v-if="passedContest.phone === 1">
							<input v-if="passedContest.phone_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="phone english" type="tel" placeholder="PHONE*" v-model="userInfo.phone">
							<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="phone english" type="tel" placeholder="PHONE" v-model="userInfo.phone">
						</div>
					</div>


					<div v-if="passedContest.dob === 1" class="age-gate required">
						<div style="position: absolute; display: inline-block; width: 1px; height: 1px; overflow: hidden;">
							<div style="display: inline-block; width: 100px; height: 100px;"></div>
							<input class="date" type="date" tabindex="-1">
						</div>
						<div class="date-of-birth english" :style="{fontFamily: passedContest.font_family, color: passedContest.text_color, fontWeight: passedContest.font_weight}">
							Date of Birth
						</div>
						<div class="text-inputs english">
							<div  v-if="passedContest.dob_req === 1">
								<input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}"class="month" type="tel" placeholder="MM*" maxlength="2"  v-model="userInfo.dob.month" @change="parseValue('mm')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="day" type="tel" placeholder="DD*" maxlength="2" v-model="userInfo.dob.day" @change="parseValue('dd')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="year" type="tel" placeholder="YYYY*" maxlength="4" v-model="userInfo.dob.year" @change="parseValue('yyyy')">
							</div>
							<div  v-else>
								<input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}"class="month" type="tel" placeholder="MM" maxlength="2"  v-model="userInfo.dob.month" @change="parseValue('mm')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="day" type="tel" placeholder="DD" maxlength="2" v-model="userInfo.dob.day" @change="parseValue('dd')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="year" type="tel" placeholder="YYYY" maxlength="4" v-model="userInfo.dob.year" @change="parseValue('yyyy')">
							</div>
						</div>
					</div>


					<div class="agreement">
						<label>
							<div class="agreement-wrapper">
								<div class="agreement-checkbox">
									<input type="checkbox" v-model="userInfo.agreement" id="agreement-checkbox">
								</div>
								<div class="agreement-text-wrapper" :style="{fontFamily: passedContest.font_family, color: passedContest.text_color, fontWeight: passedContest.font_weight}">
									<div class="agreement-text english">
										<a v-if="passedContest.agreement_url_1 && passedContest.agreement_name_1" target="_blank" :href="passedContest.agreement_url_1">
											{{ passedContest.agreement_name_1 }}
										</a>
										<span v-else-if="passedContest.agreement_name_1">
											{{ passedContest.agreement_name_1 }}
										</span>

										<a v-if="passedContest.agreement_url_2 && passedContest.agreement_name_2" target="_blank" :href="passedContest.agreement_url_2"> {{ passedContest.agreement_name_2 }}</a>
										<span v-else-if="passedContest.agreement_name_2">
											{{ passedContest.agreement_name_2 }}
										</span>
									</div>
									<div  class="agreement-text english">
									</div>
								</div>
							</div>
						</label>
					</div>

					<div>
						<button v-if="passedContest.language === 'en'" class="button submit english"
						:style="{
							fontFamily: passedContest.font_family,
							fontWeight: passedContest.font_weight,
							color: passedContest.button_text_color,
							backgroundColor: passedContest.button_background_color
							}" @click="nextStep()">
							SUBMIT
						</button>
					</div>
				</div>
			</div>
			<div class="content form" v-if="step === 4">
				<div class="viewport">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					<div class="call-to-action english" :style="{color: passedContest.text_color, fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						PLEASE FILL OUT THE FOLLOWING FORM
					</div>

					<div>
						<div v-if="passedContest.full_name === 1">
							<input v-if="passedContest.full_name_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="full-name english" type="text" placeholder="FULL NAME*" v-model="userInfo.fullName">
							<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="full-name english" type="text" placeholder="FULL NAME" v-model="userInfo.fullName">
						</div>
					</div>


					<div v-if="passedContest.email === 1">
						<input v-if="passedContest.email_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="email" type="email" placeholder="EMAIL*" v-model="userInfo.email">
						<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="email" type="email" placeholder="EMAIL" v-model="userInfo.email">
					</div>


					<div>
						<div v-if="passedContest.phone === 1">
							<input v-if="passedContest.phone_req === 1" :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="phone english" type="tel" placeholder="PHONE*" v-model="userInfo.phone">
							<input v-else :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="phone english" type="tel" placeholder="PHONE" v-model="userInfo.phone">
						</div>
					</div>


					<div v-if="passedContest.dob === 1" class="age-gate required">
						<div style="position: absolute; display: inline-block; width: 1px; height: 1px; overflow: hidden;">
							<div style="display: inline-block; width: 100px; height: 100px;"></div>
							<input class="date" type="date" tabindex="-1">
						</div>
						<div class="date-of-birth english" :style="{fontFamily: passedContest.font_family, color: passedContest.text_color, fontWeight: passedContest.font_weight}">
							Date of Birth
						</div>
						<div class="text-inputs english">
							<div  v-if="passedContest.dob_req === 1">
								<input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}"class="month" type="tel" placeholder="MM*" maxlength="2"  v-model="userInfo.dob.month" @change="parseValue('mm')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="day" type="tel" placeholder="DD*" maxlength="2" v-model="userInfo.dob.day" @change="parseValue('dd')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="year" type="tel" placeholder="YYYY*" maxlength="4" v-model="userInfo.dob.year" @change="parseValue('yyyy')">
							</div>
							<div  v-else>
								<input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}"class="month" type="tel" placeholder="MM" maxlength="2"  v-model="userInfo.dob.month" @change="parseValue('mm')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="day" type="tel" placeholder="DD" maxlength="2" v-model="userInfo.dob.day" @change="parseValue('dd')"><!--
								--><input :style="{fontFamily: passedContest.font_family, color: passedContest.input_text_color, fontWeight: passedContest.font_weight, backgroundColor: passedContest.input_background_color}" class="year" type="tel" placeholder="YYYY" maxlength="4" v-model="userInfo.dob.year" @change="parseValue('yyyy')">
							</div>
						</div>
					</div>


					<div class="agreement">
						<label>
							<div class="agreement-wrapper">
								<div class="agreement-checkbox">
									<input type="checkbox" v-model="userInfo.agreement" id="agreement-checkbox">
								</div>
								<div class="agreement-text-wrapper" :style="{fontFamily: passedContest.font_family, color: passedContest.text_color, fontWeight: passedContest.font_weight}">
									<div class="agreement-text english">
										<a v-if="passedContest.agreement_url_1 && passedContest.agreement_name_1" target="_blank" :href="passedContest.agreement_url_1">
											{{ passedContest.agreement_name_1 }}
										</a>
										<span v-else-if="passedContest.agreement_name_1">
											{{ passedContest.agreement_name_1 }}
										</span>

										<a v-if="passedContest.agreement_url_2 && passedContest.agreement_name_2" target="_blank" :href="passedContest.agreement_url_2"> </a>
										<span v-else-if="passedContest.agreement_name_2">
											{{ passedContest.agreement_name_2 }}
										</span>
									</div>
									<div  class="agreement-text english">
									</div>
								</div>
							</div>
						</label>
					</div>

					<div>
						<button v-if="passedContest.language === 'en'" class="button submit english"
										:style="{
							fontFamily: passedContest.font_family,
							fontWeight: passedContest.font_weight,
							color: passedContest.button_text_color,
							backgroundColor: passedContest.button_background_color
							}" @click="nextStep()">
							SUBMIT
						</button>
					</div>
				</div>
			</div>
			<div class="content game quiz" v-if="step === 1">
				<div v-if="quizWrong === false" class="viewport">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					<div class="call-to-action english" :style="{color: passedContest.text_color, fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						Please answer the following skill testing question to claim your prize: <br> <br>
						(NOTE - YOU CAN ONLY TRY THIS ONCE) <br>
						<br>
						<span style=""> {{quiz.question}} </span>
						<div v-if="passedContest.language === 'en'">
							<input class="full-name english" type="text" placeholder="YOUR ANSWER" v-model="quizAnswer">
						</div>
						<div>
							<button v-if="passedContest.language === 'en'" class="button submit english"
							:style="{
								fontFamily: passedContest.font_family,
								fontWeight: passedContest.font_weight,
								color: passedContest.button_text_color,
								backgroundColor: passedContest.button_background_color
								}" @click="submitAnswer()">
								SUBMIT
							</button>
						</div>
						<br>
						<div :style="{fontFamily: passedContest.font_family, color: passedContest.button_text_color, fontWeight: passedContest.font_weight}">
							{{ quizError }}
						</div>
					</div>
				</div>
				<div v-else class="viewport" :style="{fontFamily: passedContest.font_family, color: passedContest.button_text_color, fontWeight: passedContest.font_weight}">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					{{ quizError}}
				</div>
			</div>
			<div class="content game quiz" v-if="step === 2">
				<div v-if="quizWrong === false" class="viewport">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					<div class="call-to-action english" :style="{color: passedContest.text_color, fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						<div v-if="modal === 0">
						CONGRATULATIONS! <br> <br>
						AN EMAIL HAS BEEN SENT <br> WITH THE RELEASE FORM <br> AND ADDITIONAL INFORMATION <br> ON HOW TO REDEEM YOUR PRIZE
						<br><br>
						</div>
						<div v-else>
							SORRY. <br> <br>
						THAT ANSWER IS INCORRECT! <br> PLEASE ENTER THE CONTEST <br> AGAIN BY TEXTING A NEW <br> PIN CODE FOR ANOTHER <br> CHANCE TO WIN.
						<br><br>
						</div>
						<br>
						<div :style="{fontFamily: passedContest.font_family, color: passedContest.button_text_color, fontWeight: passedContest.font_weight}">
							{{ quizError }}
						</div>
					</div>
				</div>
				<div v-else class="viewport" :style="{fontFamily: passedContest.font_family, color: passedContest.button_text_color, fontWeight: passedContest.font_weight}">
					<div class="main-image" :style="{backgroundImage: 'url(\'' + passedContest.header_image + '\')'}"></div>
					{{ quizError}}
				</div>
			</div>
		</div>
		<div v-if="passedContest.footer_image || passedContest.footer_background_color" class="footer english" :style="{backgroundColor: passedContest.footer_background_color, borderTop: '5px solid ' + passedContest.footer_border_color}">
			<img :src="passedContest.footer_image">
		</div>
				<!-- Modals Start -->
		<div class="modal-overlay" style="display: none;"></div>
		<div class="modal error" style="display: none;">
			<div class="modal-wrapper">
				<div class="modal-box">
					<div v-if="passedContest.language === 'en' && modal === 1" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						SORRY. <br>
						THAT ANSWER IS INCORRECT! <br> PLEASE ENTER THE CONTEST <br> AGAIN BY TEXTING A NEW <br> PIN CODE FOR ANOTHER <br> CHANCE TO WIN.
					</div>
					<div v-if="passedContest.language === 'en' && modal === 2" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						SORRY. <br>
						THIS CONTEST IS ONLY <br>
						VALID FOR RESIDENTS <br>
						AGED {{passedContest.min_age}}+ <br>
					</div>
					<div v-if="passedContest.language === 'en' && modal === 3" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						{{ passedContest.terms_conditions_response }}
					</div>
					<div v-if="passedContest.language === 'en' && modal === 4" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						YOU MUST ENTER <br>
						YOUR FULL NAME<br>
					</div>
					<div v-if="passedContest.language === 'en' && modal === 5" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						YOU MUST ENTER <br>
						A VALID EMAIL <br>
					</div>
					<div v-if="passedContest.language === 'en' && modal === 6" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						YOU MUST ENTER <br>
						A VALID PHONE NUMBER <br>
					</div>
					<button @click="closeModal()" v-if="passedContest.language === 'en'" class="ok english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						OK
					</button>
				</div>
			</div>
		</div>
		<div class="modal submitting" style="display: none;">
			<div class="modal-wrapper">
				<div class="modal-box">
					<div v-if="passedContest.language === 'en'" class="modal-body english" :style="{fontFamily: passedContest.font_family, fontWeight: passedContest.font_weight}">
						Submitting...
					</div>
				</div>
			</div>
		</div>
		<!-- Modals End -->
	</div>
</template>

<script>
import $ from 'jquery'
import Contest from '@/controllers/contest'
import Quiz from '@/controllers/skillTest'
var emailPattern = /^.+@.+\..+$/
export default {
	data () {
		return {
			step: 0,
			quizWrong: false,
			passedContest: {},
			quiz: {},
			answer: '478',
			quizAnswer: '',
			userInfo: {
				fullName: null,
				email: null,
				phone: null,
				dob: {
					day: null,
					month: null,
					year: null
				},
				agreement: false
			},
			modal: 0
		}
	},
	props: {
	},
	mounted () {
		console.log(this.$route.query[''])
		console.log('grandprix')
		this.getCanAttempt()
	},
	methods: {
		getCanAttempt () {
			Contest.canAttempt(this.$route.query['']).then(response => {
				this.getContest()
			}).catch(reason => {
				this.getContest()
				if (reason.responseJSON.declaration === 'already_exists') {
					console.log('already exists')
					this.step = 2
					this.quizWrong = true
					if (reason.responseJSON.payload.is_correct === 1) {
						this.quizError = 'You have already claimed this prize, you may only claim this prize once'
					} else {
						this.quizError = 'You have already attempted the skill testing question, you may only attempt this once'
					}
				}
			})
		},
		windowOpen (val = 'leafs') {
			if (val === 'leafs') {
				window.open('https://form.jotform.com/73135785713259', '_blank')
			} else if (val === 'raptors') {
				window.open('https://form.jotform.com/73136743513252', '_blank')
			}
		},
		checkAnswer () {
			if (+(this.quizAnswer.trim()) === +(this.answer.trim())) {
				this.modal = 0
				// this.errorModal()
				this.nextStep()
			} else {
				this.modal = 1
				// this.errorModal()
				this.nextStep()
			}
		},
		validateUserInfo () {
			var contestVue = this
			var currentDate = new Date()
			var message = ''
			return new Promise(function (resolve, reject) {
				if (!contestVue.userInfo.fullName.length) {
					if (contestVue.passedContest.language === 'en') {
						message = 'Please enter your "Full Name"'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'S\'il vous plait entrez votre nom complet'
					}
					reject(message)
				} if (!contestVue.userInfo.email.length) {
					if (contestVue.passedContest.language === 'en') {
						message = 'Please enter your "Email"'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'S\'il vous plait entrez votre email'
					}
					reject(message)
				} if (contestVue.userInfo.phone === '') {
					if (contestVue.passedContest.language === 'en') {
						message = 'Please enter your "Phone Number"'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'S\'il vous plaît entrez votre numéro de téléphone'
					}
					reject(message)
				} if (contestVue.passedContest.dob_req === 1) {
					if (contestVue.userInfo.dob.month === null) {
						if (contestVue.passedContest.language === 'en') {
							message = 'Month of birth is required'
						} else if (contestVue.passedContest.language === 'fr') {
							message = 'Le mois de naissance est requis'
						}
						reject(message)
					}
					if (contestVue.userInfo.dob.day === null) {
						if (contestVue.passedContest.language === 'en') {
							message = 'Please enter your "Date of Birth"'
						} else if (contestVue.passedContest.language === 'fr') {
							message = 'Veuillez entrer votre date de naissance'
						}
						reject(message)
					} if (contestVue.userInfo.dob.year === null) {
						if (contestVue.passedContest.language === 'en') {
							message = 'Year of birth is required'
						} else if (contestVue.passedContest.language === 'fr') {
							message = 'L\'année de naissance est requise'
						}
						reject(message)
					}
				} if (contestVue.userInfo.email.length && !emailPattern.test(contestVue.userInfo.email)) {
					if (contestVue.passedContest.language === 'en') {
						message = 'Please enter a valid email address'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'S\'il vous plaît, mettez une adresse email valide'
					}
					reject(message)
				} if ((contestVue.passedContest.dob === 1 && contestVue.passedContest.dob_req === 1) && (contestVue.userInfo.dob.day < 1 || contestVue.userInfo.dob.day > 31 || contestVue.userInfo.dob.month < 1 || contestVue.userInfo.dob.month > 12 || contestVue.userInfo.dob.year < parseInt(currentDate.getFullYear()) - 150 || contestVue.userInfo.dob.year > parseInt(currentDate.getFullYear()))) {
					if (contestVue.passedContest.language === 'en') {
						message = 'Please enter a valid "Date of Birth"'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'Veuillez entrer votre date de naissance'
					}
					reject(message)
				} if (parseInt(contestVue.passedContest.min_age) > 0) {
					if (parseInt(currentDate.getFullYear()) - parseInt(contestVue.userInfo.dob.year) < parseInt(contestVue.passedContest.min_age)) {
						if (contestVue.passedContest.language === 'en') {
							message = 'You must be atleast ' + contestVue.passedContest.min_age + ' to use this website'
						} else if (contestVue.passedContest.language === 'fr') {
							message = 'Vous devez avoir ' + contestVue.passedContest.min_age + ' ans pour utiliser ce site'
						}
						reject(message)
					}
				} if (!contestVue.userInfo.agreement) {
					if (contestVue.passedContest.language === 'en') {
						message = 'You must agree to the Terms and Conditions'
					} else if (contestVue.passedContest.language === 'fr') {
						message = 'Vous devez accepter les Termes et Conditions'
					}
					reject(message)
				}
				resolve('Hurray')
			})
		},
		errorModal (message) {
			$('.modal-overlay').show()
			$('.modal.error').show()
		},
		closeModal () {
			$('.modal-overlay').hide()
			$('.modal.error').hide()
		},
		setFontFamily (fontFamily, fontWeight) {
			var WebFont = require('webfontloader')
			WebFont.load({
				google: {
					families: [fontFamily + ':' + fontWeight, fontFamily]
				},
				active () {
				}
			})
		},
		nextStep () {
			if (parseInt(new Date().getFullYear()) - parseInt(this.userInfo.dob.year) < parseInt(this.passedContest.min_age) || this.userInfo.dob.year === null || +this.userInfo.dob.year < 1900 || +this.userInfo.dob.day < 1 || +this.userInfo.dob.day > 31 || +this.userInfo.dob.month < 1 || +this.userInfo.dob.month > 12 || this.userInfo.dob.day === null || this.userInfo.dob.month === null) {
				this.modal = 2
				this.errorModal()
			} else if (!this.userInfo.agreement) {
				this.modal = 3
				this.errorModal()
			} else if (this.userInfo.fullName === null || this.userInfo.fullName.trim() === '') {
				if (this.passedContest.full_name_req === 1) {
					this.modal = 4
					this.errorModal()
				} else {
					if (this.step === 0) {
						this.getQuiz()
					} else {
						this.step += 1
						if (this.step === 2 && this.modal === 0) {
							if (this.campaign.id === 8) { // 8 = leafs 9 = raptors
								this.windowOpen()
							} else if (this.campaign.id === 9) {
								this.windowOpen('raptors')
							}
						}
					}
				}
			} else if (this.userInfo.email === null || this.userInfo.email.trim() === '' || !emailPattern.test(this.userInfo.email)) {
				if (this.passedContest.email_req === 1) {
					this.modal = 5
					this.errorModal()
				} else {
					if (this.step === 0) {
						this.getQuiz()
					} else {
						this.step += 1
						if (this.step === 2 && this.modal === 0) {
							if (this.campaign.id === 8) { // 8 = leafs 9 = raptors
								this.windowOpen()
							} else if (this.campaign.id === 9) {
								this.windowOpen('raptors')
							}
						}
					}
				}
			} else if (this.userInfo.phone === null || this.userInfo.phone.trim() === '' || this.userInfo.phone.split('-').join('').trim().length !== 10) {
				if (this.passedContest.phone_req === 1) {
					this.modal = 6
					this.errorModal()
				} else {
					if (this.step === 0) {
						this.getQuiz()
					} else {
						this.step += 1
						if (this.step === 2 && this.modal === 0) {
							if (this.campaign.id === 8) { // 8 = leafs 9 = raptors
								this.windowOpen()
							} else if (this.campaign.id === 9) {
								this.windowOpen('raptors')
							}
						}
					}
				}
			} else {
				if (this.step === 0) {
					this.getQuiz()
				} else {
					this.step += 1
					if (this.step === 2 && this.modal === 0) {
						if (this.campaign.id === 8) { // 8 = leafs 9 = raptors
							this.windowOpen()
						} else if (this.campaign.id === 9) {
							this.windowOpen('raptors')
						}
					}
				}
			}
		},
		getQuiz () {
			Quiz.getQuiz(this.campaign.id).then(response => {
				this.quiz = response.payload.questions[0]
				this.updateUser()
			}).catch(reason => {
			})
		},
		submitAnswer () {
			let obj = {
				code: this.$route.query[''],
				question_id: this.quiz.id,
				answer: this.quizAnswer
			}
			Contest.submitAnswer(obj).then(response => {
				console.log(response)
				if (response.declaration === 'valid_answer') {
					this.modal = 0
					this.nextStep()
				} else {
					this.modal = 1
					this.nextStep()
				}
			}).catch(reason => {
				this.modal = 1
				this.nextStep()
			})
		},
		updateUser () {
			let obj = {
				code: this.$route.query['']
			}
			if (this.userInfo.fullName) {
				obj.name = this.userInfo.fullName
			}
			if (this.userInfo.email) {
				obj.email = this.userInfo.email
			}
			if (this.userInfo.phone) {
				obj.phone = this.userInfo.phone
			}
			if (this.userInfo.dob.year && this.userInfo.dob.month && this.userInfo.dob.day) {
				obj.dob = this.userInfo.dob.year + '-' + this.userInfo.dob.month + '-' + this.userInfo.dob.day
			}
			Contest.saveUserDetails(obj).then(response => {
				if (response.declaration === 'winner_details_updated') {
					this.step = 1
				}
			}).catch(reason => {
			})
		},
		showSubmittingModal () {
			$('.modal-overlay').show()
			$('.modal.submitting').show()
		},
		getContest () {
			var contestVue = this
			Contest.getContest(this.$route.query['']).then(response => {
				contestVue.passedContest = response.payload.contest
				if (response.payload.user_details.phone_number_from) {
					this.userInfo.phone = response.payload.user_details.phone_number_from.substr(2)
				}
				// contestVue.passedContest.skill_test = reason.responseJSON.payload.skill_testing
				this.setFontFamily(response.payload.contest.font_family, response.payload.contest.font_weight)
				contestVue.accessCode = response.payload.claim_access_code
				contestVue.campaign = response.payload.campaign
				console.log(contestVue.passedContest)
			}).catch(reason => {
				if (reason.responseJSON) {
					contestVue.passedContest = reason.responseJSON.payload.contest
					// contestVue.passedContest.skill_test = reason.responseJSON.payload.skill_testing
					this.setFontFamily(reason.responseJSON.payload.contest.font_family, reason.responseJSON.payload.contest.font_weight)
					contestVue.accessCode = reason.responseJSON.payload.claim_access_code
					contestVue.campaign = reason.responseJSON.payload.campaign

					console.log(contestVue.passedContest)
				}
				// console.log(contestVue.passedContest)
			})
		}
	}
}
</script>

<style>
.main-image {
	margin-top:30px;
}
input, .button {
	border-radius: 5px !important;
}
</style>
